body {
  background-color: antiquewhite;
  height: 100vh;
  overflow-y: auto;
}

footer {
  background-color: cadetblue;
  padding: 10px;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}
